.Navbar {
  height: 5rem;
  width: 100vw;
  max-width: 95rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;
}

.logo {
  object-fit: cover; /*it will not let the image stretch or look bad*/
  height: 3rem;
  width: 4rem;
}

.desktopMenuList_item {
  margin: 2rem;
  cursor: pointer;
}
.desktopMenuList_item:hover {
  color: yellow;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid yellow;
}

.desktopMenu_btn {
  color: black;
  border: none;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 2rem;
  gap: 1rem;
}
.desktopMenu_img {
  object-fit: cover;
  height: 1rem;
  width: 1rem;
}
